.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;

  &__numbers {
    width: 500px;
    overflow: scroll;
    padding-bottom: 0 !important;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }

    span {
      padding-right: 10px;
      font-size: 20px;
    }
  }

  &__inactive {
    pointer-events: none;
    color: grey;
  }
}

.press__number {
  font-weight: bold;
  color: #687624;
}