.access {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 120px);

  &__form {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(34 36 38);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows:repeat(6, 1fr);;
    grid-gap: 10px;
    grid-auto-rows: 150px;

  }

  &__cell {
    display: grid;
    grid-template-columns:repeat(2, 1fr);;
  }

  &__response {
    border-radius: 4px;
    color: #b71c1c;
    caret-color: #b71c1c;
    background: transparent;
    border: thin solid;
    padding: 8px;

    &--correct {
      color: #658F1A;
      caret-color: #658F1A;
    }

    &--declined {
      color: #b71c1c;
      caret-color: #b71c1c;
    }
  }

  &__link {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;

    &:hover {
      color: #687624;
    }

    span {
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
    }
  }
}