.card {
  display: flex;
  height: 230px;
  overflow: hidden;
  background: rgb(60, 62, 68);
  border-radius: 0.5rem;
  margin: 0.75rem;
  box-shadow: 0 2px 4px -1px;

  &__content {
    flex: 3 1 0;
    position: relative;
    padding-left: 25px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 5px;
    }
  }

  &__status {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 15px !important;
    padding-right: 10px;
    color: orange;

    &__Alive {
      color: green;
    }

    &__Dead {
      color: red;
    }
  }

  &__fav {
    color: darkred;
    margin: 15px;
    cursor: pointer;
  }

}


.text__grey {
  margin-top: 12px;
  margin-bottom: 5px;
  color: rgb(158, 158, 158);
}
