.header {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 2px -2px gray;
  justify-content: space-around;

  img {
    margin-left: -50px;
  }

  &__tabs {
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #191919;
      font-weight: bold;
    }
  }

  .icon {
    color: #191919;
    margin-right: 7px;
  }

  &__access {
    display: flex;
    align-items: center;
    font-weight: bold;

    &:hover {
      color: #687624;
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    padding: 20px;
    position: fixed;
    border-radius: 4px;
    color: rgb(60, 62, 68);
    caret-color: rgb(60, 62, 68);
    border: thin solid;
    background-color: white;
  }
}

.hr {
  height: 50px;
  margin: 0 30px 0 0;
}



